<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gazetteer Sheet Converter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./dist/css/style.css" />
</head>

<body>
    <div class="container">
        <div id="app" class="row" v-cloak>
            <div class="col-md-4 mb-4">
                <form class="form-upload" action="#" method="GET">
                    <input type="file" @change="loadTextFromFile" multiple>
                    <p>Drag your files here or click in this area.</p>
                </form>
                <button class="btn btn-danger btn-block" @click="clearFileArr">Delete All Files</button>
                <label for="addPrefix">Prefix:</label>
                <div class="input-group mb-3" id="addPrefix">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input v-model="isAddPrefix" type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                    </div>
                    <input v-model="prefixContent" type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Enter file name prefix">
                </div>
                <button class="btn btn-primary btn-block" v-on:click="exportExcel">Export Files</button>
            </div>
            <div class="col-md-8 mb-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Size</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(file, index) in fileArr">
                            <tr>
                                <td>{{file.name}}</td>
                                <td>{{parseFloat(Math.round(file.size / 1000)).toFixed(0)}} KB</td>
                                <td><button class="btn btn-danger btn-sm" type="button" name="button" @click="deleteFile(index)">Delete</button></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./dist/js/xlsx.full.min.js"></script>
<script src="./vue/formatter.js"></script>
<script type="text/javascript">
    var formatter = new formatter();
</script>
</html>
